#headerBarDiv
{
 position: fixed;
 top: 0;
 left: 0;
 height: 10%;
 width: 100%;
 background-color: #0923a2;
}

#mainContentDiv
{
 position: fixed;
 top: 10%;
 left: 0;
 height: 85%;
 width: 100%;
 background-color: #748bfa;
 background-image: url("Images/waterBkgd.jpg"); 
}

#sideNavBarDiv
{
 position: fixed;
 top: 15%;
 left: 5%;
 height: 75%;
 width: 10%;
 background-color: white;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 
}

#contentDiv
{
 position: fixed;
 top: 15%;
 left: 20%;
 height: 75%;
 width: 75%;
 padding: 10px;
 background-color: white;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 overflow-y: scroll;
}

#footerBarDiv
{
 position: fixed;
 top: 95%;
 left: 0;
 height: 5%;
 width: 100%;
 background-color: rgb(204, 210, 221);
}

p {font-size: 14px;}

.textSection
{
 background-color: rgba(0, 0, 255, 0.9);
 margin: 10px;
}

//Start of dropdown menu
ul 
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

li 
{
 float: left;
 list-style-type: none;
}

li a, .dropbtn 
{
 display: inline-block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn 
{
 background-color: #2b0849; //header nav button background color
 color: #0e3c87;
}
//End of dropdown menu